{% extends 'base.html' %}
{% load user_filters %}
{% block header %}
  Новая публикация
{% endblock %}

{% block content %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-9 p-6">
        <div class="card">
          <div class="card-header">
          {% if post_change %}
            Редактировать публикацию
          {% else %}
            Новая публикация
          {% endif %}
          </div>
          <div class="card-body">
          {% if post_change %}
            <form method="post" enctype="multipart/form-data" action="{% url 'posts:post_edit' post_id %}">
          {% else %}
            <form method="post" enctype="multipart/form-data" action="{% url 'posts:post_create'%}">
          {% endif %}
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group row my-3 p-6">
              <label for="{{ field.id_for_label }}">
              {{ field.label }}
              {% if field.field.required %}
              <span class="required text-danger">*</span>
              {% endif %}
                </label>
              {{ field|addclass:'form-control' }}
              {% if field.help_text %}
                <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
              {{ field.help_text|safe }}
                </small>
              {% endif %}
              </div>
              {% endfor %}
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">
                {% if post_change %}
                  Изменить
                {% else %}
                  Опубликовать
                {% endif %}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}